
/* Layout
================================= */
* {
	box-sizing: border-box;
}

body{
	padding-top: 120px;
	background-color: #d4b07a;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1000px;
}

.navbar-fixed-top{
	height: 110px;
}

.navbar-collapse,
.head-color{
	background-color: #131313;
}

a{
	color: black;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'PT Serif';
	text-align: center;
	color: black;
}

p{
	font-family: 'PT Serif';
	font-size: 1.1em;
	color: black;
}

h3.gallery {
	text-align: left;
	padding-left: 1.5%;
	border-bottom: 1px solid black;
}

.schedule-link{
	margin-top: 2%;
}

.webmaster{
	margin-top: -5px;
	font-size: 0.90em;
}

.compB,
.enlistment{
	display: block;
	margin: 0 auto;
	padding-top: 6%;
}

.copyright p{
	margin-top: 5px;
	text-align: right;
}

.facebook{
	width: 40px;
	height: 40px;
	margin-top: -5px;
	margin-left: auto;
}

.clearfix {
  clear: both;
}


/* Mounted Cavalry page
================================= */

#mounted_gallery {
	text-align: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
	width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Enlistment page
================================= */
.form-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.form-container {
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.form-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.form-btn:hover {
  background-color: #45a049;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .form-row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 120px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Schedule page
================================= */

.btn-primary,
.btn-success,
.btn-danger{
    margin-right: 10px;
}

.list{
	background-color: #e0c69f;
}

th{
	font-size: 16px;
}

th,
td{
	text-align: center;
}


/* Images
================================= */

.lamoni-scouts{
	border: 3px solid black;
	margin-top: -10px;
}

.riders,
.volunteers{
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

figure.history{
	float: left;
	padding-top: 5px;
	padding-right: 10px;
}

figcaption{
	text-align: center;
	color: black;
}

.sam,
.bob,
.greg {
	width: 200px;
	margin-top: 20px;
}

.info {
	font-size: 1em;
}

.thumbnail {
	margin-bottom: 15px;
}

/*Media Queries*/

@media screen and (max-width: 390px) {
    .logo {
	width: 85%;
	margin-top: -14%;
    }

    .webmaster{
	font-size: 0.75em;
    }
}
